<?xml version="1.0" encoding="utf-8"?>

<Package
	xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
	xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
	xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2"
	xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
    xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
    xmlns:uap15="http://schemas.microsoft.com/appx/manifest/uap/windows10/15"
	xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
	xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
	xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
	xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
	xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
	xmlns:desktop9="http://schemas.microsoft.com/appx/manifest/desktop/windows10/9"
	xmlns:desktop10="http://schemas.microsoft.com/appx/manifest/desktop/windows10/10"
	xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
	IgnorableNamespaces="uap uap2 uap3 uap10 uap15 rescap com desktop desktop4 desktop5 desktop9 desktop10 mp">

	<Identity Name="Ammari.Crayon"
			  Publisher="CN=Ammari Corporation, O=Ammari Corporation, L=Karaj, S=Alborz, C=IR"
			  Version="1.0.45.0" />

	<mp:PhoneIdentity
		PhoneProductId="2ddef40a-d23c-4b21-8149-3fc2f923f50b"
		PhonePublisherId="00000000-0000-0000-0000-000000000000" />

	<Properties>
		<DisplayName>ms-resource:PackageDisplayName</DisplayName>
		<PublisherDisplayName>Ammari Corporation</PublisherDisplayName>
		<Description>Crayon App</Description>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily	Name="Windows.Universal"
							MinVersion="10.0.17763.0"
							MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop"
							MinVersion="10.0.17763.0"
							MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="en-US"/>
		<Resource Language="fa-IR"/>
	</Resources>

	<Applications>
		<Application Id="App"
					 Executable="$targetnametoken$.exe"
					 EntryPoint="$targetentrypoint$">
			<uap:VisualElements
				DisplayName="Crayon"
				Description="Crayon App"
				BackgroundColor="transparent"
				Square150x150Logo="Images\Square150x150Logo.png"
				Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" ShortName="Crayon" Square71x71Logo="Images\Square71x71Logo.png" Square310x310Logo="Images\Square310x310Logo.png">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square310x310Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile >
				<uap:SplashScreen Image="Images\SplashScreen.png"/>
				<uap:LockScreen BadgeLogo="Images\BadgeLogo.png" Notification="badgeAndTileText"/>
			</uap:VisualElements>
			<Extensions>

				<desktop9:Extension Category="windows.fileExplorerClassicContextMenuHandler">
					<desktop9:FileExplorerClassicContextMenuHandler>
						<desktop9:ExtensionHandler Type=".library-ms" Clsid="3C557AFF-6181-4BBC-937D-E2FE8844DD49" />
						<desktop9:ExtensionHandler Type="Directory" Clsid="3C557AFF-6181-4BBC-937D-E2FE8844DD49" />
					</desktop9:FileExplorerClassicContextMenuHandler>
				</desktop9:Extension>

				<desktop9:Extension Category="windows.fileExplorerClassicDragDropContextMenuHandler">
					<desktop9:FileExplorerClassicDragDropContextMenuHandler>
						<desktop9:ExtensionHandler Type="Directory" Clsid="3C557AFF-6181-4BBC-937D-E2FE8844DD49" />
						<desktop9:ExtensionHandler Type="Drive" Clsid="3C557AFF-6181-4BBC-937D-E2FE8844DD49" />
					</desktop9:FileExplorerClassicDragDropContextMenuHandler>
				</desktop9:Extension>


				<uap:Extension Category="windows.protocol">
					<uap:Protocol Name="crayon"/>
				</uap:Extension>

				<uap3:Extension Category="windows.appExecutionAlias">
					<uap3:AppExecutionAlias>
						<desktop:ExecutionAlias Alias="Crayon.exe"/>
					</uap3:AppExecutionAlias>
				</uap3:Extension>

				<desktop4:Extension Category="windows.fileExplorerContextMenus">
					<desktop4:FileExplorerContextMenus>
						<desktop5:ItemType Type="Directory">
							<desktop5:Verb Id="Crayon" Clsid="3C557AFF-6181-4BBC-937D-E2FE8844DD49" />
						</desktop5:ItemType>
						<desktop5:ItemType Type="Directory\Background">
							<desktop5:Verb Id="Crayon" Clsid="3C557AFF-6181-4BBC-937D-E2FE8844DD49" />
						</desktop5:ItemType>
						<desktop5:ItemType Type="*">
							<desktop5:Verb Id="Crayon" Clsid="3C557AFF-6181-4BBC-937D-E2FE8844DD49" />
						</desktop5:ItemType>
						<desktop10:ItemType Type="Drive">
							<desktop10:Verb Id="Crayon" Clsid="3C557AFF-6181-4BBC-937D-E2FE8844DD49" />
						</desktop10:ItemType>
					</desktop4:FileExplorerContextMenus>
				</desktop4:Extension>
				
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:SurrogateServer  DisplayName="Crayon Context Menu Handler">
							<com:Class Id="3C557AFF-6181-4BBC-937D-E2FE8844DD49" Path="CrayonContextMenu.dll" ThreadingModel="STA"/>
						</com:SurrogateServer>
					</com:ComServer>
				</com:Extension>

			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>

</Package>
